.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  background-color: burlywood;
}

.aboutPage p{
  background-image: url('../src/components/pages/images/background.png');
  width: 100%;
  height: 700px;
  font-family: "Monospace";
  margin: 2px;
  padding: 0;
  background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
 background-position: bottom right;
 background-position: center;
}

.container1{
  background-image: url('../src/components/pages/images/Login.png');
  width: 100%;
  height: 700px;
  font-family: "Monospace";
  margin: 2px;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
 background-size:cover;
  
}

.container{
  background-image: url('../src/components/pages/images/Register.png');
  width: 100%;
  height: 700px;
  font-family: "Monospace";
  margin: 2px;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
 background-size:cover;
  
}

.profile-page{
  background-image: url('../src/components/pages/images/profile.png');
  width: 100%;
  height: 700px;
  font-family: "Monospace";
  margin: 2px;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
